table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.padding {
  padding-top: 20px;
  padding-bottom: 10px;
}

.h-100 {
  height: 100vh;
}

.site-back-top-basic {
  color: rgba(64, 64, 64, 0.6);
}
